<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_11___Administrador_de_Zoologico.Properties.Settings.ZoologicoConnectionString"
            connectionString="Data Source=GEASS\SQLEXPRESS;Initial Catalog=Zoologico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>